<div class="container">
  <div class="row">
    <h4><%= @lottery.name %></h4>
    <div class="col s6"><%= @lottery.status_i18n %></div>
    <div class="col s6"><%= "当選者数：" + @lottery.winning_number.to_s + "人" %></div>
    <p><%= @lottery.detail %></p>
    <br>
    <p>抽選が作成されました。参加者に下記URLをコピーして、知らせましょう。参加者は、URLから参加登録するだけの簡単な作業です。</p>

    <div class="input-field col s12">
      <%= Lottery.human_attribute_name(:url) %>
      <input type="text" value="<%= URI.encode(new_lottery_participant_url(@lottery)) %>" onclick="this.setSelectionRange(0,9999);" readonly>
      </input>
    </div>


    <div class="center">
      <%#= link_to '抽選実行', exec_lottery_path(@lottery), class: "btn btn-default" if @lottery.status_before_type_cast == Lottery.statuses[:wanted] %>
      <%= link_to t('button.button_lottery_exec'), exec_lottery_path(@lottery), class: "btn btn-default" %>
    </div>
    <br>

    <table class="table highlight">
      <thead>
        <tr>
          <th><%= Participant.human_attribute_name(:user_name) %></th>
          <th><%= @lottery.participants.count.to_s + "人" %></th>
        </tr>
      </thead>

      <tbody>
        <% Array(@lottery.participants).each do |participant| %>
          <tr>
            <td><%= participant.user_name %></td>
            <td><%= participant.result_i18n if @lottery.status_before_type_cast == Lottery.statuses[:finished] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div>
      <%= link_to t('button.button_back'), root_path, class: "btn waves-effect waves-light" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    M.updateTextFields();
  });
</script>
